nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: white;
	color: black;
}

.padding {
	padding: 0.5rem;
}

button, button:focus {
	outline: none;
	background: transparent;
	border: 1px solid transparent;
}

.font-weight-600 {
	font-weight: 600;
}
